.bar-header {
  text-align: center;
}
.title {
  font-size: 30px;
  padding: 10px;
  color: white;
  font-weight: bolder;
}

html {
  background-color: rgb(3,77,111);
}

.map {
  margin: auto;
  padding: 1px;
}

.box {
  background-color: white;
  height: 300px;
  width: 95%;
  margin: auto;
  border-radius: 5px;
}

.study {
  padding-top: 10px;
  margin: auto;
}

.box2 {
  background-color: white;
  width: 95%;
  margin:auto;
  padding: 10px;
  border-radius: 5px;

}

#title {
  color: rgb(128,128,128);
  font-weight: bolder;
  font-size: 20px;
}

#distance {
  color: rgb(128,128,128);
  font-size: 15px;
  display: inline;
}

#number {
  display: inline;
  color: rgb(128,128,128);
  font-size: 17px;
  font-weight: bolder;
}
